/* variables ------------------------------------------------- */
:root {
  --blue: rgb(70, 156, 215);
  --darkblue: rgb(39, 129, 190);
}

/* global ------------------------------------------------- */
body,html{ background-color: white; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; scroll-behavior: smooth; margin:0; padding:0; font-size:16px; font-weight:500;   }
h1 {text-align:center;}
.section {width:100%; padding:40px 0 50px 0; text-align:center;}
.section h1 {padding-bottom:10px; font-size:40px; }
.section p {width:650px; margin-left:auto; margin-right:auto; font-weight:400; font-size:19px; line-height:150%; color:rgb(100,100,100);  }

/* menu --------------------------------------------------- */
#menu {position:fixed; width:100%; top:0; z-index:100; text-align:center; background:rgba(255,255,255,0.25); -webkit-backdrop-filter: blur(15px); backdrop-filter: blur(15px); font-size:13px; padding:10px 0; }
@media screen and (max-width: 870px) { #menu {display:none;} }
#menu img {width:45px; vertical-align:middle; margin:0 15px;}
#menu div {display:inline-block; margin:0 15px; }
#menu .tel {border:solid 1.5px black; padding:5px 10px; border-radius:5px; }

/* menu mobile -------------------------------------------- */
#menumobile { position:fixed; width:100%; top:0; z-index:100; background:rgba(255,255,255,0.25); -webkit-backdrop-filter: blur(15px); backdrop-filter: blur(15px); font-size:13px; padding:15px 0; }
@media screen and (min-width: 870px) { #menumobile {display:none;} }
#menumobile img {height:20px; vertical-align:middle;}
#menumobile #menumobilelogo {padding-left:20px;}
#menumobile #menumobileouvrir {float:right; padding-right:20px;}
#menumobile #menumobilefermer {display:none; float:right; padding-right:20px;}

/* sous menu mobile -------------------------------------------- */
#sousmenumobile {display:none; position:fixed; width:100%; padding:100px 20px 0 20px; height:100vh; z-index:99; background:white;}


/* video -------------------------------------------------- */
#video-box { position: relative; width: 100%; height: 100%; overflow: hidden; }
#video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; /* animation: fadeIn 4s; */ }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
#video-contenu {height:100vh; position: relative; z-index: 1; text-align: center; }
#video-logo {padding-top: calc(50vh - 100px); height:200px;}
@media screen and (max-width: 650px) { #video-logo {width:80%;} }

/* nos services ---------------------------------------------- */
#services {background:rgb(240,240,240);  }
#services .colonne {width:370px; font-size:25px; font-weight:500; display:inline-block; vertical-align:top;  }
#services .service { position:relative; margin:25px 10px; padding:25px 20px 55px 25px; background:rgba(255,255,255,1); border-radius:25px; text-align:left;  }
#services .material-symbols-outlined {font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48; font-size:45px; margin-bottom:15px;}
#services .material-symbols-outlined.plus {font-variation-settings:'FILL' 1,'wght' 500,'GRAD' 0,'opsz' 48; font-size:40px; margin-top:0; position:absolute; right:15px;  }



/* temoignages -------------------------------------------- */
#temoignages {background:white;  }
#temoignages #note {text-align:center; font-size:30px; font-weight:700; }
#temoignages #note img {width:80px;margin:10px 0 20px 0;}
#temoignages .conteneur {white-space: nowrap; overflow-x: auto; font-size: 0; padding:10px; }
#temoignages .temoignage {display:inline-block; background:white; vertical-align:top; width:320px; height:160px; margin:0 10px 10px 10px; padding:20px; border:solid 1px rgb(220,220,220); border-radius:15px; text-align:left; }
#temoignages .temoignage .nom {font-size:20px; white-space: normal;}
#temoignages .temoignage img {width:80px; margin:10px 0;}
#temoignages .temoignage .texte {font-size:16px; white-space: normal; line-height:150%; color:rgb(80,80,80); }

/* google ------------------------------------------------- */
#google {background:rgb(240,240,240);}
#googlemap {width:80%; margin-left:10%; border-radius:10px;}